/* Global Css */
body {padding:0; margin:0; background-color:#D7F3C2;}
* {padding:0; margin:0; box-sizing:border-box; font-family:'Cabin';}
h1 {font-size:70px; font-weight:700; color:#537937; line-height:1.2; margin-block-end:30px; font-family:'Poppins';}
h2 {display:inline-block; font-weight:700; font-size:50px; color:#000; line-height:1; padding-inline:40px; padding-block:30px; margin-block-end:15px; position:relative; z-index:1; font-family:'Poppins';}
h2::before {content:''; position:absolute; top:0; left:0; width:70px; height:70px; border-radius:50%; background-color:#88A275; z-index:-1;}
h2::after {content:''; position:absolute; right:0; bottom:0; width:70px; height:70px; border-radius:50%; background-color:#E9BB60; z-index:-1;}
h3 {font-size:40px; font-weight:400; color:#527937; margin-block-end:9px; line-height:1.3;}
h4 {font-size:22px; font-weight:500; color:#BD7D00; line-height:1.3;}
h5 {font-size:22px; font-weight:700; color:#000; line-height:1.3;}
p {font-size:18px; color:#000; line-height:1.4; font-weight:400;}
img, svg {height:100%; width:100%;}
.navbar {padding-block:0px;}
.feedback-gap-4rem {gap:10rem;}
.primary-button {background-color:#B8DC9E; padding:18px; border:none; border-radius:30px 0 30px 0; font-weight:700; color:#3B5326; font-size:20px;}
/* .secondary-button {background-color:#E8B145; padding:10px; border:none; border-radius:20px 0 20px 0; font-weight:700; color:#000; font-size:18px;} */
.secondary-button{background-color:#E8B145; color:black; font-weight:500; font-size:18px; padding:8px 20px; transition:background 0.3s ease; border:1px solid #F4B942; border-radius:20px 0px 20px 0px;}
.gap-top {padding-block-start:50px;}
.gap-bottom {padding-block-end:50px;}
.home-aboutus {margin-top:-240px;}
.home-contactus {margin-top:-150px;}
.home-footer {margin-bottom:-130px;}
.body-curve-left {background-image:url(./assets/images/Background.png); background-size:100% 100%; background-repeat:no-repeat;}
.body-curve-right {background-image:url(./assets/images/Background2.png); background-size:100% 100%; background-repeat:no-repeat;}
.global-banner .left{display: flex; align-items: center;padding-block-start: 90px;} 
.global-banner .banner-text{display: flex;justify-content: center;flex-direction: column;}
.global-banner {background-size:100% 100%; background-image:url(./assets/images/header.png); height:900px; z-index:2; position:relative; left:0; right:0;}
/* .banner-text {padding-block-start:90px; padding-inline-end:80px;} */
.banner-image {height:auto; max-height:100%; width:100%; display:flex; justify-content:end; align-items:center;}
.banner-image img {object-fit:contain;}


/* Navbar Css */
.navbar-container {background-color:#fff;}
.sticky-navbar {position:fixed; top:0; width:100%; background-color:#fff; z-index:999;}
.navbar.navbar-expand-lg.navbar-light {padding-block:0px;}
.ms-auto.nav-links.navbar-nav {margin-block-start:-2px; gap:10px; align-items:center;}
.sticky-navbar-scrolled {background-color:rgba(255, 255, 255, 0.7); backdrop-filter:blur(10px);}
.navbar-brand {width:170px; height:auto; margin-block-start:15px;}
.navbar-brand img {object-fit:contain;}
.navbar-toggler {border:none !important; outline:none !important; box-shadow:none !important;}
.nav-links {display:flex; align-items:center;}
.nav-links .nav-link {padding:38px 15px 20px 15px; font-weight:500; font-size:18px; color:black; width:100%; transition:background 0.3s; text-align:center; width:80px;}
.nav-links .active-link {padding:38px 15px 20px 15px; background-color:#A9D18E; color:#3C5326; font-size:18px; display:inline-block; text-align:center; font-weight:700;}
.ms-auto.nav-links.navbar-nav .header-button {background-color:#E8B145; color:black; font-weight:500; font-size:18px; padding:8px 20px; transition:background 0.3s ease; border:1px solid #F4B942; border-radius:20px 0px 20px 0px; margin-block-start:15px;}
.contact-us-btn:hover {background-color:#e0a832 !important;}

/* Footer Css */
.footer {padding-top:170px; background-size:100% 100%; color:#000; background-image:url(./assets/images/footer.png);}
.footer-content {display:flex; justify-content:space-between;}
.footer-logo {font-size:22px; width:120px; height:auto;}
.footer-logo img {object-fit:contain;}
.footer-about p {font-size:14px; margin-top:10px;}
.social-icons {display:flex; gap:10px; margin-top:15px;}
.social-icon {padding:4px; border-radius:50%; display:flex; align-items:center; justify-content:center; width:50px; height:50px; object-fit:contain;}
.footer-links h5, .footer-contact h5 {font-weight:500; margin-bottom:15px; color:#000;}
.footer-links ul {list-style:none; padding:0;}
.footer-links ul li {margin-bottom:8px;}
.footer-links ul li a {text-decoration:none; color:#000; font-size:14px;}
.footer-contact .contact-item {display:flex; align-items:center; gap:12px; font-size:14px; margin-bottom:10px;}
.icon-wrapper {width:20px; height:20px; display:flex; align-items:center; justify-content:center;}
.contact-icon {width:35px; height:35px; padding:2px;}
.hr {border-color:rgba(255, 255, 255, 0.3); margin:20px 0;}
.footer-bottom {display:flex; justify-content:space-between; align-items:center;}
.footer-bottom p {font-size:13px; font-weight:400; padding:0; margin-bottom:30px;}
.footer-policy {margin-bottom:30px; display:flex; justify-content:end;}
.footer-policy a {text-decoration:none; color:#000; font-size:13px; padding-right:20px;}

/* Feedback Section Css */
.feedback-box-wrapper {padding-inline:20px;}
.feedback-container{display:flex; justify-content:center; align-items:center;gap:15px;flex-direction: column;}
.feedback-card{display: flex;flex-direction:column;}
.feedback-box {background-color:#B8DC9E; padding:30px; text-align:center; height:100%; box-shadow:-6px 5px 10px 0px #52793780; margin-top:20px; margin-bottom:10px;}
.feedback-header {display:flex; gap:15px; align-items:center; background-color:#EAF5D9; width:370px; border-radius:50px 0 0 50px;justify-content: flex-start;height: 85px;}
.feedback-header-right {display:flex; gap:15px;justify-content:end; align-items:center; background-color:#EAF5D9; width:370px; height:85px; border-radius:0 50px 50px 0; margin-left:295px;justify-content: flex-end;}
.feedback-profile {width:130px;z-index:2}
.feedback-profile img {border-radius:50%; object-fit:cover; width:80%;    border: #fff 8px solid;}
.feedback-header-right .feedback-profile{display: flex;justify-content: flex-end;}
.feedback-giver {font-size:22px; font-weight:500; margin-bottom:2px; text-align:left;}
.feedback-details-heading {background-color:#fff; box-shadow:0px 0px 25px 0px #52793780; width:75%; height:auto; padding:30px; margin-left:60px;}
.feedback-container .slick-slide {margin: 15px 0;}
.feedback-details {line-height:1.5; text-align:left; background-color:#fff;margin: 0;}
.feedback-footer {display:flex; justify-content:space-between;}
.feedback-company{margin: 0;}
.feedback-rating {display:flex; gap:3px; list-style:none; padding:0; margin:0;}
.feedback-rating li {color:#527937; font-size:25px;}
.feedback-date {padding:0; margin:0; display:flex; align-items:center;}
.testimonial-container {display:flex; justify-content:center; align-items:center; padding:30px; position:relative; margin-top:30px;}
.testimonial-container::before {content:''; position:absolute; top:-15px; left:0; width:81px; height:79px; background-image:url(./assets/images/Leftquote.png); background-size:cover; z-index:3;}
.testimonial-container::after {content:''; position:absolute; bottom:-15px; right:0; width:81px; height:79px; background-image:url(./assets/images/Rightquote.png); background-size:cover; z-index:3;}
.quote-box {background-color:#DFF2D1; color:#000; padding:28px 100px; width:100%; text-align:center; position:relative;}
.feedback-author {display:block; text-align:right; font-size:20px; font-weight:500; padding-right:50px;}
.feedback-author::before {content:'-'; position:absolute; right:260px; width:79px; height:79px; z-index:3;}
.quote-text {font-size:20px; font-weight:500;}

/* Contact Section Css */
.contact-section {display:flex; align-items:center; justify-content:center; position:relative;}
.contact-section::after {content:""; position:absolute; width:100%; height:65%; left:0; top:50%; transform:translateY(-50%); z-index:0; background-color:#B8DC9E;}
.contact-image {height:auto; max-height:100%; width:100%; display:flex; justify-content:end; align-items:center; z-index:1; position:relative;}
.contact-image img {object-fit:contain;}
.contact-text {z-index:1; position:relative;}
.subscription-form {display:flex; background-color:#fff; border-radius:21px; align-items:center; width:480px; padding-left:10px; max-width:100%;}
.subscription-form input {flex-grow:1; padding:10px; border:none; border-radius:21px 0 0 21px; font-size:16px;}
.subscription-form input:focus {outline:none; box-shadow:none; border:none;}
.subscription-form button {background-color:#E8B145; color:#000; border:none; padding:10px 20px; border-radius:21px; font-weight:400; cursor:pointer;}
.subscription-form button:hover {background-color:#d79b38; color:#000;}


@media screen and (max-width: 768px) {
h1 {font-size:40px; margin-block-end:15px;}
h2 {font-size:30px; padding-block:20px; padding-inline:25px; margin-block-end:20px;}
h2::after {height:50px; width:50px;}
h2::before {height:50px; width:50px;}
h3 {font-size:25px;}
h4 {font-size:20px;}
h5 {font-size:18px;}
p {font-size:16px;}
.global-banner {height:710px;}
.global-banner-others {height:550px;}
.primary-button {font-size:16px; padding:14px; border-radius:20px 0 20px 0;}
/* .secondary-button {font-size:14px; } */
.gap-top {padding-block-start:50px;}
.gap-bottom {padding-block-end:50px;}
.home-contactus {margin-top:-100px;}
.home-footer {margin-bottom:-100px;}
}

@media screen and (max-width: 575px) {
.global-banner-mobile {background-size:100% 100%; background-image:url(./assets/images/header-mobile.png); height:1060px; z-index:2; position:relative; left:0; right:0;}
.others-banner-mobile {background-size:100% 100%; background-image:url(./assets/images/header-mobile.png); height:670px; z-index:2; position:relative; left:0; right:0;}
.gap-top {padding-block-start:40px;}
.gap-bottom {padding-block-end:40px;}
}

@media (max-width: 992px) {
.navbar-collapse {text-align:left;}
.navbar-logo {height:35px; margin-left:15px;}
.nav-links {flex-direction:column; width:100%; align-items:flex-start;}
.nav-links .nav-link {margin:5px 0; padding:8px 15px; text-align:left;}
.nav-links .active-link {margin-left:5px; width:auto;}
.contact-us-btn {margin-left:5px;}
.ms-auto.nav-links.navbar-nav .header-button {font-size:15px; margin-block-start:0px;}
}

@media (max-width: 768px) {
.nav-links {align-items:flex-start;}
.nav-links .active-link {width:auto; margin-left:5px; color:#76b74a; background:#fff; padding:0; margin:0;}
.contact-us-btn {margin-left:5px;}
.ms-auto.nav-links.navbar-nav {margin-block:30px; align-items:center;}
.nav-item .nav-link {padding:0; margin:0; text-align:center;}
.navbar-nav .nav-item {padding:0; margin:0;}
}

@media (max-width: 480px) {
.nav-links .active-link {width:auto; margin-left:5px; color:#76b74a; background:#fff; padding:0; margin:0;}
.nav-item .nav-link {padding:0; margin:0; text-align:center;}
.navbar-nav .nav-item {padding:0; margin:0;}
.contact-us-btn {margin-left:5px;}
}

@media (min-width: 768px) and (max-width:991px) {
.footer-content {display:grid; grid-template-columns:1fr 1fr; gap:20px;}
.footer-about {grid-column:span 3;}
.footer-links, .footer-contact {display:inline-block; width:100%;}
.social-icon {width:35px; height:35px;}
.contact-icon {width:28px; height:28px;}
}

@media screen and (max-width: 575px) {
.footer {padding-top:200px; background-size:100% 100%; color:#000; background-image:url(./assets/images/footer-mobile.png);}
.social-icon {width:32px; height:32px;}
.contact-icon {width:25px; height:25px;}
.footer-policy {justify-content:left;}
.social-icons {margin-bottom:15px;}
.footer-bottom p {margin-bottom:15px;}
}

@media screen and (max-width: 768px) {
.feedback-header {width:315px; height:auto; margin-left:30px;}
.testimonial-container {flex-direction:column; align-items:center; padding:20px; margin-top:10px;}
.feedback-box-wrapper {padding-inline:10px;}
.feedback-box {padding:15px;}
.feedback-header-right {margin-left:78px; width:340px;}
.feedback-profile {width:100px; height:100px;}
.feedback-profile img {width:90px; height:90px;}
.feedback-details-heading {width:75%; padding:20px; height:auto; text-align:center;}
.feedback-footer {gap:25px;}
.quote-box {font-size:20px;}
.feedback-author {font-size:18px; padding-right:30px;}
.feedback-author::before {right:235px;}
.slick-list.draggable {height:720px !important;}
.feedback-giver {font-size:18px;}
.feedback-rating li {font-size:20px;}
}

@media screen and (max-width: 575px) {
.feedback-box {padding:10px;}
.feedback-giver-header {text-align:center;}
.feedback-giver {text-align:center;}
.feedback-header {height:auto; margin-left:0; width:100%; gap:50px;}
.feedback-header-right {margin-left:0px; width:100%; height:auto; gap:50px;}
.feedback-footer {gap:40px;}
.feedback-profile {width:80px; height:80px; box-shadow:none; display:flex; justify-content:center; align-items:center;}
.feedback-profile img {width:70px; height:70px;}
.feedback-details-heading {width:100%; padding:15px; margin-left:0; box-shadow:none;}
.quote-box {padding:15px 65px; font-size:18px;}
.quote-text, .feedback-author {font-size:16px;}
.feedback-author::before {right:190px;}
.slick-list.draggable {height:630px !important;}
.testimonial-container::before {height:60px; width:60px;}
.testimonial-container::after {height:58px; width:60px;}
}

@media screen and (max-width: 768px) {
.contact-section {flex-direction:column; padding:20px; background-color:#B8DC9E}
.contact-section::after {display:none;}
.contact-image {justify-content:center;}
.subscription-form {width:100%;}
}

@media screen and (max-width: 575px) {
.contact-text {margin-top:40px;}
.contact-section::after {display:none;}
.contact-section {background-color:#B8DC9E;}
.subscription-form {margin-top:30px;}
.subscription-form input {border-radius:21px;}
.subscription-form button {border-radius:21px;}
}