/* Home Banner Css */
.banner-text {padding-block-start:90px; padding-inline-end:80px;}
.banner-image {height:auto; max-height:100%; width:100%; display:flex; justify-content:end; align-items:center; padding-block-start:90px;}
.banner-image img {object-fit:contain;}

/* About Us Section Css */
.about-text {display:flex; flex-direction:column; padding-inline-end:22px; padding-top:220px;}
.about-text h6 {font-size:40px; font-weight:700; color:#000; line-height:1.3;}
.about-right {width:520px;}
.service-icon {height:60px; width:60px; border-radius:50%; background:#fff; padding:10px; box-shadow:0px -5px 25px 0px #98C97480;}
.about-image {height:auto; max-height:100%; width:100%; display:flex; justify-content:end; align-items:center; padding-top:220px;}
.about-image img {object-fit:contain;}
.about-section {display:flex; align-items:center; justify-content:center; margin-top:100px; position:relative;}
.about-section::after {content:""; position:absolute; width:100%; height:65%; left:0; top:50%; transform:translateY(-50%); z-index:0; background-color:#B8DC9E;}
.about-section-image {height:auto; max-height:100%; width:100%; display:flex; justify-content:end; align-items:center; z-index:1; position:relative;}
.about-section-image img {object-fit:contain;}
.about-section-text {background-color:#fff; width:470px; padding:30px 37px; z-index:1; position:relative;}

/* Service Section Css */
.laptop-carousel-container {position:relative; display:flex; justify-content:center; align-items:center; left:0px; right:0px; overflow:hidden;}
.laptop-background-image {width:1092px;}
.laptop-background {width:100%; z-index:1;}
.carousel-inside-laptop {position:absolute; z-index:2; top:8%; left:13%; width:74%; height:54%; display:flex; flex-direction:row; gap:5px; overflow:hidden; justify-content:center; align-items:center;}
.carousel-slider {width:100%; height:100%;}
.slick-list {width:100%; height:100%;}
.slick-track {width:100%; height:100%;}
.slick-active {left:18px;}
.slick-active .service-right {right:22px;}
.carousel-card {display:flex; align-items:center; justify-content:space-between; width:100%; height:100%; position:relative;}
.service-details {position:absolute; top:10px; left:26px; display:flex; align-items:center; justify-content:center ; flex-direction:column; text-align:center; box-shadow:6px 7px 14px 0px #52793785; background-color:#fff; width:335px; height:433px; border-bottom:32px solid #B8DC9E; border-right:32px solid #B8DC9E;}
.slick-active .service-details {left:0px;}
.service-details-image {width:200px; height:120px;}
.service-details-image img {object-fit:contain;}
.service-details h4 {color:#3A5D21; font-size:25px; font-weight:700; margin:10px 0;}
.service-right {padding-top:50px; position:absolute; bottom:6px; right:8px;}
.service-image {display:flex; justify-content:center; position:relative; width:450px; height:452px; background-color:#fff; box-shadow:-8px -4px 18px 0px #52793785; overflow:hidden; padding:24px 0px 24px 32px; border-top:32px solid #B8DC9E;}
.service-image img {object-fit:cover;}
.slick-dots {position:absolute; bottom:-30px; width:100%; text-align:center;}
.slick-dots li button:before {color:#527937; font-size:14px; width:100%;}
.slick-dots li.slick-active button:before {color:#B0D893; font-size:14px;}

/* Feedback Section Css */
.feedback-box-wrapper {padding-inline:20px;}
.feedback-container .slick-slide {display:flex; justify-content:center; align-items:center;}
.feedback-box {background-color:#B8DC9E; padding:30px; text-align:center; height:100%; box-shadow:-6px 5px 10px 0px #52793780; margin-top:20px; margin-bottom:10px;}
.feedback-header {display:flex; gap:15px; margin-bottom:10px; align-items:center; background-color:#EAF5D9; width:370px; height:85px; border-radius:50px 0 0 50px;}
.feedback-header-right {display:flex; gap:15px; margin-bottom:10px; justify-content:end; align-items:center; background-color:#EAF5D9; width:370px; height:85px; border-radius:0 50px 50px 0; margin-left:295px;}
.feedback-profile {width:138px; height:138px; background-color:#fff; border-radius:50%; box-shadow:-5px 0px 10px 0px #52793740; display:flex; justify-content:center;}
.feedback-profile img {border-radius:50%; object-fit:cover; width:125px; height:125px;}
.feedback-giver {font-size:22px; font-weight:500; margin-bottom:2px; text-align:left;}
.feedback-details-heading {background-color:#fff; box-shadow:0px 0px 25px 0px #52793780; width:75%; height:auto; padding:40px 60px; margin-left:60px; margin-bottom:60px; margin-top:-15px}
.slick-list.draggable {height:770px !important;}
.slick-track {margin-top:30px;}
.feedback-details {line-height:1.5; text-align:left; background-color:#fff;}
.feedback-footer {display:flex; justify-content:space-between;}
.feedback-rating {display:flex; gap:3px; list-style:none; padding:0; margin:0;}
.feedback-rating li {color:#527937; font-size:25px;}
.feedback-date {padding:0; margin:0; display:flex; align-items:center;}
.testimonial-container {display:flex; justify-content:center; align-items:center; padding:30px; position:relative; margin-top:60px;}
.testimonial-container::before {content:''; position:absolute; top:-15px; left:0; width:81px; height:79px; background-image:url(../assets/images/Leftquote.png); background-size:cover; z-index:3;}
.testimonial-container::after {content:''; position:absolute; bottom:-15px; right:0; width:81px; height:79px; background-image:url(../assets/images/Rightquote.png); background-size:cover; z-index:3;}
.quote-box {background-color:#DFF2D1; color:#000; padding:28px 100px; width:100%; text-align:center; position:relative;}
.feedback-author {display:block; text-align:right; font-size:20px; font-weight:500; padding-right:50px;}
.feedback-author::before {content:'-'; position:absolute; right:260px; width:79px; height:79px; z-index:3;}
.quote-text {font-size:20px; font-weight:500;}

/* Blog Section Css */
.blog-card {position:relative; width:320px; height:700px; overflow:hidden; transition:transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out;}
.blog-card img {object-fit:cover;}
.blog-card:hover {transform:scale(1.05); cursor:pointer;}
.blog-content {position:absolute; bottom:0; height:290px; display:flex; flex-direction:column; justify-content:end; background:#FFFFFFCC; padding:20px 25px; text-align:center;}
.blog-content h5 {line-height:50px; font-size:22px;}

/* Contender Section Css */
.contender-container {display:flex; flex-wrap:wrap; justify-content:space-between; padding:20px; gap:10px;}
.contender-card {display:flex; align-items:start; justify-content:space-between; background:#B8DC9E; min-height:200px; width:calc(50% - 5px) !important; box-sizing:border-box; background-image:url("../assets/images/contbg.png"); background-size:100% 100%}
.contender-card-text {background:#B8DC9E; min-height:200px; width:calc(50% - 5px) !important; box-sizing:border-box;}
.contender-card img {width:210px; height:290px; object-fit:cover; margin-right:15px;}
.contender-info {text-align:right; padding-right:40px; padding-top:56px;}
.contender-text-box {display:flex; flex-direction:column; justify-content:center; padding:20px;}
.contender-card-text p {text-align:right;}
.contenders-button {margin-top:50px;}

/* Portfolio Section Css */
.portfolio-image img {object-fit:contain;}


@media screen and (max-width: 768px) {
.banner-text {padding-inline-end:20px;}
.banner-image {flex-direction:column;}
}

@media screen and (max-width: 575px) {
.banner-text {padding-inline-end:10px;}
.banner-image {padding-block-start:5px;}
.banner-image img {width:90%;}
}

@media screen and (max-width: 768px) {
.about-text {padding-inline-end:10px; padding-top:150px;}
.about-image {padding-top:150px;}
.about-text h6 {font-size:24px;}
.about-right {width:100%;}
.about-section {flex-direction:column; height:auto; padding:20px;}
.about-section-image {width:100%; height:auto; padding-bottom:20px;}
.about-section-text {width:100%; padding:20px;}
}

@media screen and (max-width: 575px) {
.about-text h6 {font-size:20px;}
.service-icon {height:50px; width:50px; padding:8px;}
.about-section {padding:15px; background-color:#B8DC9E;}
.about-section::after {display:none;}
.about-section-text {padding:15px;}
.about-image {padding-top:50px;}
}

@media screen and (max-width: 768px) {
.carousel-card {width:90%; flex-direction:column; margin-bottom:80px;}
.service-details {width:200px; height:320px;}
.service-details-image {width:160px; height:90px;}
.service-image {width:300px; height:300px;}
}

@media screen and (max-width: 575px) {
.carousel-card {width:100%; height:160px;}
.service-details {width:160px; height:280px;}
.service-details-image {width:140px; height:80px;}
.service-details h4 {font-size:14px;}
.service-details p {font-size:11px; width:140px;}
.service-image {width:250px; height:250px;}
}

@media screen and (max-width: 768px) {
.feedback-header {width:315px; height:auto; margin-left:30px;}
.testimonial-container {flex-direction:column; align-items:center; padding:20px; margin-top:10px;}
.feedback-box-wrapper {padding-inline:10px;}
.feedback-box {padding:15px;}
.feedback-header-right {margin-left:78px; width:340px;}
.feedback-profile {width:100px; height:100px;}
.feedback-profile img {width:90px; height:90px;}
.feedback-details-heading {width:75%; padding:20px; height:auto; text-align:center;}
.feedback-footer {gap:25px;}
.quote-box {font-size:20px;}
.feedback-author {font-size:18px; padding-right:30px;}
.feedback-author::before {right:235px;}
.slick-list.draggable {height:720px !important;}
.feedback-giver {font-size:18px;}
.feedback-rating li {font-size:20px;}
}

@media screen and (max-width: 575px) {
.feedback-box {padding:10px;}
.feedback-giver-header {text-align:center;}
.feedback-giver {text-align:center;}
.feedback-header {height:auto; margin-left:0; width:100%; gap:50px;}
.feedback-header-right {margin-left:0px; width:100%; height:auto; gap:50px;}
.feedback-footer {gap:40px;}
.feedback-profile {width:80px; height:80px; box-shadow:none; display:flex; justify-content:center; align-items:center;}
.feedback-profile img {width:70px; height:70px;}
.feedback-details-heading {width:100%; padding:15px; margin-left:0; box-shadow:none;}
.quote-box {padding:15px 65px; font-size:18px;}
.quote-text, .feedback-author {font-size:16px;}
.feedback-author::before {right:190px;}
.slick-list.draggable {height:630px !important;}
.testimonial-container::before {height:60px; width:60px;}
.testimonial-container::after {height:58px; width:60px;}
}

@media screen and (max-width: 768px) {
.blog-card {height:600px;}
.blog-content {height:200px; padding:15px;}
.blog-content h5 {font-size:18px; line-height:30px;}
}

@media screen and (max-width: 575px) {
.blog-card {height:500px; width:100%;}
.blog-content {height:190px; padding:10px;}
}

@media screen and (max-width: 768px) {
.contender-container {padding:15px;}
.contender-card, .contender-card-text {text-align:center;}
.contender-card img {width:160px; height:230px; margin:0;}
.contenders-button {margin-top:30px;}
}

@media screen and (max-width: 575px) {
.contender-card img {width:140px; height:200px;}
.contender-card {flex-direction:column; padding:10px; width:100% !important; justify-content:center; align-items:center; text-align:center;}
.contender-card-text {padding:10px; width:100% !important;}
.contenders-button {margin-top:20px;}
.contender-info {padding-right:0; padding-top:20px;}
.contender-info p {text-align:center;}
}

@media screen and (max-width: 768px) {
.portfolio-image {flex-wrap:wrap;}
}

@media screen and (max-width: 575px) {
.portfolio-content {padding-top:20px;}
}