/* Home Banner Css */
/* .banner-text {padding-block-start:90px; padding-inline-end:80px;} */
/* .banner-image {height:auto; max-height:100%; width:100%; display:flex; justify-content:end; align-items:center;}
.banner-image img {object-fit:contain;} */
.global-banner{height: 900px;}
/* About Us Section Css */
#about-us .about-us{padding-top:200px;}
.about-text {display:flex; flex-direction:column; padding-inline-end:22px;}
.about-text h6 {font-size:30px; font-weight:700; color:#000; line-height:1.3;}
/* .about-right {width:520px;} */
.service-icon {height:60px; width:60px; border-radius:50%; background:#fff; padding:10px; box-shadow:0px -5px 25px 0px #98C97480;}
.about-image {height:100%; max-height:100%; width:100%; display:flex; justify-content:end; align-items:center;}
.about-image img {object-fit:contain;}
.about-section {display:flex; align-items:center; justify-content:center; margin-top:100px; position:relative;}
.about-section::after {content:""; position:absolute; width:100%; height:65%; left:0; top:50%; transform:translateY(-50%); z-index:0; background-color:#B8DC9E;}
.about-section-image {height:auto; max-height:100%; width:85%; display:flex; justify-content:end; align-items:center; z-index:1; position:relative;}
.about-section-image img {object-fit:contain;}
.about-section-text {background-color:#fff; width:470px; padding:30px 37px; z-index:1; position:relative;}

/* Service Section Css */
.laptop-carousel-container {position:relative; display:flex;flex-direction: column; justify-content:center; align-items:center; left:0px; right:0px; overflow:hidden;}
.laptop-background-image {width:1092px;z-index: 2;}
.laptop-background {width:100%; z-index:1;}
.carousel-inside-laptop {
    position: absolute;
    z-index: 1;
    top: -2%;
    width: 100%;
    height: 81%;
    display: flex;
    flex-direction: row;
    gap: 5px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    /* background-color: #B8DC9E; */
}
.carousel-slider {width:100%; height:100%;display: flex;}
.slick-list {width:100%; height:100%;}
.laptop-carousel-container .slick-track {width:100%; height:100%;display: flex!important;gap:30px;margin-top:30px;}
.slick-active {left:18px;}
.slick-active .service-right {right:22px;}
.laptop-background-image{position: relative;}
#customPrevBtn{position: absolute; left: 38%;top: calc(94% + 2px);}
#customNextBtn{position: absolute; left: 60%;top: calc(94% + 2px);}
.carousel-card {display: flex !important; justify-content:space-between; width:57%;background-color: #B8DC9E;gap: 40px;}
.service-details {display:flex; align-items:center; justify-content:center ; flex-direction:column; text-align:center; box-shadow:6px 7px 14px 0px #52793785; background-color:#fff; width: 300px; padding:43px 0;}
.slick-active .service-details {left:0px;}
.service-details-image {width:200px; height:120px;}
.service-details-image img {object-fit:contain;}
.service-details h4 {color:#3A5D21; font-size:20px; font-weight:700; margin:10px 0;}
.service-right {margin-top:145px;}
.service-details p{font-size:15px;}
.service-image {display:flex; justify-content:center; position:relative; width: 375px;height: 300px; background-color:#fff; box-shadow:-8px -4px 18px 0px #52793785; overflow:hidden; padding:24px 0px 24px 32px;}
.service-image img {object-fit:cover;}
.slick-dots {position:absolute; bottom:-30px; width:100%; text-align:center;}
.slick-dots li button:before {color:#527937; font-size:14px; width:100%;}
.slick-dots li.slick-active button:before {color:#B0D893; font-size:14px;}

/* Blog Section Css */
.blog-card {position:relative; width:320px; height:500px; overflow:hidden; transition:transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out;}
.blog-card img {object-fit:cover;}
.blog-card:hover {transform:scale(1.05); cursor:pointer;}
.blog-content {position:absolute; bottom:0; height:200px; display:flex; flex-direction:column; justify-content:end; background:#FFFFFFCC; padding:20px 25px; text-align:center;}
.blog-content p{font-size: 15px;}

/* Contender Section Css */
.contender-container {display:flex; flex-wrap:wrap; justify-content:space-between; padding:20px; gap:10px;}
.contender-card {display:flex; align-items:start; justify-content:space-between; background:#B8DC9E; min-height:200px; width:calc(50% - 5px) !important; box-sizing:border-box; background-image:url("../assets/images/contbg.png"); background-size:100% 100%}
.contender-card-text {background:#B8DC9E; min-height:200px; width:calc(50% - 5px) !important; box-sizing:border-box;}
.contender-card img {width: 250px;height: 250px;object-fit: contain;object-position: bottom;margin-right: 15px;}
.contender-info {text-align:right; padding-right:40px; padding-top:56px;}
.contender-text-box {display:flex; flex-direction:column; justify-content:center; padding:20px;}
.contender-card-text p {text-align:right;}
.contenders-button {margin-top:50px;}

/* Portfolio Section Css */
.portfolio-image img {object-fit:contain;}


@media screen and (max-width: 768px) {
.banner-text {padding-inline-end:20px;}
.banner-image {flex-direction:column;}
}

@media screen and (max-width: 575px) {
.banner-text {padding-inline-end:10px;}
.banner-image {padding-block-start:5px;}
.banner-image img {width:90%;}
}

@media screen and (max-width: 768px) {
.about-text {padding-inline-end:10px; padding-top:150px;}
.about-image {padding-top:150px;}
.about-text h6 {font-size:24px;}
.about-right {width:100%;}
.about-section {flex-direction:column; height:auto; padding:20px;}
.about-section-image {width:100%; height:auto; padding-bottom:20px;}
.about-section-text {width:100%; padding:20px;}
}

@media screen and (max-width: 575px) {
.about-text h6 {font-size:20px;}
.service-icon {height:50px; width:50px; padding:8px;}
.about-section {padding:15px; background-color:#B8DC9E;}
.about-section::after {display:none;}
.about-section-text {padding:15px;}
.about-image {padding-top:50px;}
}

@media screen and (max-width: 768px) {
.carousel-card {width:90%; flex-direction:column; margin-bottom:80px;}
.service-details {width:200px; height:320px;}
.service-details-image {width:160px; height:90px;}
.service-image {width:300px; height:300px;}
}

@media screen and (max-width: 575px) {
.carousel-card {width:100%; height:160px;}
.service-details {width:160px; height:280px;}
.service-details-image {width:140px; height:80px;}
.service-details h4 {font-size:14px;}
.service-details p {font-size:11px; width:140px;}
.service-image {width:250px; height:250px;}
}

@media screen and (max-width: 768px) {
.blog-card {height:600px;}
.blog-content {height:200px; padding:15px;}
.blog-content h5 {font-size:18px; line-height:30px;}
}

@media screen and (max-width: 575px) {
.blog-card {height:500px; width:100%;}
.blog-content {height:190px; padding:10px;}
}

@media screen and (max-width: 768px) {
.contender-container {padding:15px;}
.contender-card, .contender-card-text {text-align:center;}
.contender-card img {width:160px; height:230px; margin:0;}
.contenders-button {margin-top:30px;}
}

@media screen and (max-width: 575px) {
.contender-card img {width:140px; height:200px;}
.contender-card {flex-direction:column; padding:10px; width:100% !important; justify-content:center; align-items:center; text-align:center;}
.contender-card-text {padding:10px; width:100% !important;}
.contenders-button {margin-top:20px;}
.contender-info {padding-right:0; padding-top:20px;}
.contender-info p {text-align:center;}
}

@media screen and (max-width: 768px) {
.portfolio-image {flex-wrap:wrap;}
}

@media screen and (max-width: 575px) {
.portfolio-content {padding-top:20px;}
}